* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Noto Sans", sans-serif;
}
/*start global value */
:root {
  --main-color: #2196f3;
  --second-color: #777;
}
/*end global value */
@media (min-width: 767px) {
  .container {
    width: 740px !important;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .container {
    width: 950px !important;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1150px !important;
    margin-left: auto;
    margin-right: auto;
  }
}
/* welcome start */
.welcome .container nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  text-transform: capitalize;
  height: 70px;
  flex-wrap: wrap;
  align-content: center;
}
@media (max-width: 766px) {
  .welcome .container nav {
    height: 120px !important;
  }
}
.welcome .container nav .logo {
  padding: 10px;
  font-size: 25px;
  font-weight: 700;
  color: var(--main-color);
  cursor: pointer;
}
@media (max-width: 766px) {
  .welcome .container nav .logo {
    flex: 1 0 100%;
    text-align: center;
  }
}
@media (max-width: 766px) {
  .welcome .container nav .content {
    margin-inline: auto;
  }
  .welcome .container nav .content li.navigation {
    padding: 14px 8px !important;
    font-size: 14px !important;
  }
}
.welcome .container nav .content li.navigation > a {
  text-decoration: none;
  color: black;
}
.welcome .container nav .content > ul {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}
.welcome .container nav .content ul li.navigation {
  padding: 26px;
  cursor: pointer;
  position: relative;
}
.welcome .container nav .content ul li.dragon.navigation {
  position: relative;
}
.welcome .container nav .content ul li.dragon.navigation > a {
  position: relative;
}
.welcome .container nav .content ul li.dragon.navigation > a::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 0%;
  top: -23px;
  left: -26px;
  background-color: #2196f3;
  transition-duration: 0.35s;
}
.welcome .container nav .content ul li.dragon.navigation:hover > a::after {
  width: 149.5px;
}
@media (max-width: 766px) {
  .welcome .container nav .content ul li.dragon.navigation > a {
    position: relative;
  }
  .welcome .container nav .content ul li.dragon.navigation > a::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 0%;
    top: -11px;
    left: -8px;
    background-color: #2196f3;
    transition-duration: 0.35s;
  }
  .welcome .container nav .content ul li.dragon.navigation:hover > a::after {
    width: 91.5px;
  }
}
@media (max-width: 766px) {
  .welcome .container nav .content ul li.dragon.navigation {
    position: inherit;
  }
}
.welcome .container nav .content ul li.navigation:hover {
  background-color: rgb(249.5, 249.5, 249.5);
}
.welcome .container nav .content ul li.navigation:hover > a {
  color: var(--main-color);
}
.welcome .container nav .content ul li.navigation:not(:last-child)::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 0%;
  top: 1.5px;
  left: 0;
  background-color: #2196f3;
  transition-duration: 0.35s;
}
.welcome
  .container
  nav
  .content
  ul
  li.navigation:not(:last-child):hover::after {
  width: 100%;
}
.welcome .container nav .content ul li.dragon.navigation:hover::after {
  width: 100px;
  left: 10%;
}
/* other links */
.welcome .container .content .other-links {
  background-color: white;
  padding: 20px;
  position: absolute;
  z-index: 10000;
  top: 100px;
  right: 0;
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  border-bottom: 2.5px solid var(--main-color);
}
@media (min-width: 767px) {
  .welcome .container .content .other-links {
    width: 767px !important;
  }
}
@media (max-width: 766px) {
  .welcome .container .content .other-links {
    flex-direction: column;
    width: 100%;
    top: 180px !important;
  }
  .welcome .container .content li.dragon:hover .other-links {
    top: 100px !important;
  }
  .welcome .container .content .other-links ul {
    flex: 1;
    min-width: 250px;
  }
}
@media (min-width: 992px) {
  .welcome .container .content .other-links {
    width: 950px !important;
  }
}
@media (min-width: 1200px) {
  .welcome .container .content .other-links {
    width: 1150px !important;
  }
}
@media (max-width: 767px) {
  .welcome .container .content .other-links .image {
    display: none !important;
  }
}
@media (max-width: 992px) {
  .welcome .container .content .other-links .image {
    display: none;
  }
}
.welcome .container .other-links .image {
  flex: 1.5;
  display: flex;
  align-items: center;
}
.welcome .container .other-links .image img {
  width: 100%;
}
li.dragon:hover .other-links {
  visibility: visible !important;
  top: 70px !important;
  transition-duration: 0.4s;
}
.welcome .container .other-links ul.list-one {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.welcome .container .other-links ul.list-one li {
  position: relative;
  padding: 16px 10px;
  border-bottom: 1px solid #dfdfdf;
}
.welcome .container .other-links ul.list-one li:last-child {
  border-bottom: none;
}
.welcome .container .other-links ul.list-two {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.welcome .container .other-links ul.list-two li {
  position: relative;
  padding: 16px 10px;
  border-bottom: 1px solid #dfdfdf;
}
.welcome .container .other-links ul.list-two li:last-child {
  border-bottom: none;
}
.welcome .container .other-links ul.list-two li::after,
.welcome .container .other-links ul.list-one li::after {
  content: "";
  z-index: -1;
  background-color: rgb(249, 249, 249);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  transition-duration: 0.4s;
}
.welcome .container .other-links ul.list-two li:hover::after,
.welcome .container .other-links ul.list-one li:hover::after {
  width: 100%;
}
.welcome .container .other-links ul li a {
  color: var(--main-color);
  font-weight: 700;
  font-size: 17px;
  text-decoration: none;
}
.welcome .container .other-links ul li a i {
  margin-right: 10px;
  font-size: 20px;
}
.welcome .container .other-links ul li a i.fa-percent {
  font-size: 23px;
}
/* landing */
.welcome .landing {
  position: relative;
  height: calc(100vh - 135px);
  background-color: #eee;
  clip-path: polygon(0 0, 100% 0, 100% 77%, 0 100%);
}
@media (max-width: 766px) {
  .welcome .landing {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%) !important;
  }
}
.welcome .landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  align-content: center;
  column-gap: 40px !important;
}
.welcome .landing .container .text {
  flex: 1;
  h1 {
    font-size: 40px;
    margin: 0.67em 0;
    text-transform: capitalize;
    letter-spacing: -1.2px;
  }
  p {
    color: var(--second-color);
    line-height: 1.6;
    font-size: 22px;
  }
}
.welcome .landing .container .landing-img {
  flex: 1;
  animation: updown 2.5s linear infinite;
  -webkit-animation: updown 2.5s linear infinite;
}
@media (max-width: 766px) {
  .welcome .landing .container .landing-img {
    display: none;
  }
  .welcome .landing .container .text {
    text-align: center;
    padding: 0px 10px;
    h1 {
      font-size: 28px;
    }
    p {
      font-size: 18px;
    }
  }
}
.landing .landing-img > img {
  height: 320px;
  width: 100%;
}
@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
.shift-down {
  position: absolute;
  z-index: 100;
  bottom: 55px;
  right: 50%;
  transform: translate(-50%, -50%);
  animation: shift 3.5s alternate infinite;
}
.shift-down i {
  display: block;
  margin: -10px;
  font-size: 22px;
  font-weight: 900;
  color: var(--main-color);
  cursor: pointer;
}
.shift-down a {
  text-decoration: none;
}
@keyframes shift {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-10px);
  }
  20% {
    transform: translateY(10px);
  }
  30% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(10px);
  }
  70% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(10px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
/* same header */
.same-header {
  margin: 0 auto;
  text-transform: uppercase;
  border: 2px solid black;
  width: fit-content;
  position: relative;
  padding: 10px 15px;
  z-index: 50;
  h1 {
    margin: 0;
  }
}
.same-header::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--main-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 50%;
  left: -35px;
  transform: translateY(-50%);
  transition-duration: 0.8s;
}
.same-header::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--main-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 50%;
  right: -35px;
  transform: translateY(-50%);
  transition-duration: 0.8s;
}
.same-header:hover {
  transition-duration: 1.6s;
  transition-delay: 1.6s;
  color: white;
  animation: bordr 0.5s 1.6s;
  animation-fill-mode: forwards;
}
.same-header:hover::after {
  left: 0;
  animation: after 0.8s 1s;
  animation-fill-mode: forwards;
}
.same-header:hover::before {
  right: 0;
  animation: before 0.8s 1s;
  animation-fill-mode: forwards;
}
@keyframes after {
  0% {
    border-radius: 0%;
  }
  100% {
    height: 100%;
    width: 50.5%;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
  }
}
@keyframes before {
  0% {
    border-radius: 0%;
  }
  100% {
    border-radius: 0%;
    height: 100%;
    width: 50%;
  }
}
@keyframes bordr {
  100% {
    border-color: white;
  }
}
/* start articles   */
.articles {
  margin-top: 140px;
  padding: 20px 0;
}
.articles .container .cards {
  padding: 15px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px 40px;
}
.articles .container .cards .card {
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 25px 0px #0000003d;
  border-radius: 5px;
  transition-duration: 0.4s;
}
.articles .container .cards .card .image img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.articles .container .cards .card .information {
  padding: 20px;
  h2 {
    text-transform: capitalize;
    margin-bottom: 15px !important;
    font-size: 20px;
  }
  p {
    line-height: 1.5;
    color: var(--second-color);
    font-size: 15px;
  }
}
.articles .container .cards .card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-top: 1px solid #e0e0e0;
  color: var(--main-color);
  a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
    text-transform: capitalize;
  }
}
.articles .container .cards .card:hover {
  box-shadow: 0px 0px 5px 0px #0000003d;
  transform: translateY(-15px);
  i {
    animation: arrow 0.8s infinite linear;
  }
}
@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
/* end articles */
.spikes {
  width: 100%;
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  top: -100px;
  right: 0;
  z-index: 20;
  width: 100%;
  height: 30px;
  background-image: linear-gradient(135deg, white, 25%, transparent 25%),
    linear-gradient(225deg, white, 25%, transparent 25%);
  background-size: 30px 30px;
}
/* start gallery */
.gallery {
  margin-top: 100px;
  padding: 100px 0 40px;
  background-color: #ececec;
  .container {
    padding: 0 15px;
  }
}
.gallery .container .cards {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px 40px;
}
.gallery .container .cards .card {
  background-color: white;
  padding: 14px;
  position: relative;
  overflow: hidden;
}
.gallery .container .cards .card .image {
  width: 100% !important;
  overflow: hidden;
}
.gallery .container .cards .card img {
  width: 100%;
  transition: 0.2s;
}
.gallery .container .cards .card .image:hover img {
  transform: rotate(5deg) scale(1.1);
  animation-fill-mode: forwards;
}
.gallery .container .cards .card .image::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: rgba(255, 255, 255, 0.205);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.gallery .container .cards .card .image:hover::after {
  animation: flach 1s;
  -webkit-animation: flach 1s;
}
@keyframes flach {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* start features */
.features .container {
  padding: 90px 10px;
}
.features .container .cards {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px 40px;
}
.features .container .cards .card {
  position: relative;
  height: 800px;
  border: 1.5px solid rgb(181, 181, 181);
  overflow: hidden;
}
.features .container .cards .card::after {
  position: absolute;
  content: "";
  bottom: 50%;
  right: 0;
  z-index: 1000;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  transition-duration: 0.5s;
  border-color: transparent transparent white transparent;
}
.features .container .cards .card:hover::after {
  border-width: 170px 500px 170px 0px;
}

.features .container .cards .card .image {
  height: 50% !important;
  position: relative;
}
.features .container .cards .card .image img {
  width: 100%;
  height: 100%;
}
.features .container .cards .card:nth-child(1) .image::after {
  content: "";
  position: absolute;
  z-index: 1000;
  background-color: rgba(255, 0, 0, 0.4);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.features .container .cards .card:nth-child(2) .image::after {
  content: "";
  position: absolute;
  z-index: 1000;
  background-color: rgba(0, 128, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.features .container .cards .card:nth-child(3) .image::after {
  content: "";
  position: absolute;
  z-index: 1000;
  background-color: rgba(0, 0, 255, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.features .container .cards .card .content {
  text-align: center;
  padding: 15px;
  height: 50%;
  h2 {
    text-transform: capitalize;
    font-size: 37px;
    margin-top: 15px;
    margin-bottom: 50px;
    position: relative;
  }
  p {
    font-size: 18.5px;
    color: var(--second-color);
    line-height: 2;
    margin-bottom: 50px !important;
  }
}
.features .container .cards .card .content h2::after {
  content: "";
  position: absolute;
  background-color: red;
  width: 100px;
  height: 4.5px;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.features .container .cards .card:nth-child(2) .content h2::after {
  content: "";
  position: absolute;
  background-color: green;
  width: 60px;
  height: 4.5px;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.features .container .cards .card:nth-child(3) .content h2::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 100px;
  height: 4.5px;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.features .container .cards .card .content button {
  text-transform: capitalize;
  font-weight: bold;
  border: 3px solid red;
  background-color: white;
  position: relative;
  color: red;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 7px;
  z-index: 1000 !important;
  transition-duration: 0.3s;
}
.features .container .cards .card:nth-child(2) .content button {
  text-transform: capitalize;
  font-weight: bold;
  border: 3px solid green;
  background-color: white;
  position: relative;
  color: green;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 7px;
  z-index: 1000 !important;
  transition-duration: 0.3s;
}
.features .container .cards .card:nth-child(3) .content button {
  text-transform: capitalize;
  font-weight: bold;
  border: 3px solid var(--main-color);
  background-color: white;
  position: relative;
  color: var(--main-color);
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 7px;
  z-index: 1000 !important;
  transition-duration: 0.3s;
}
.features .container .cards .card:hover .content button {
  color: white;
  transition-delay: 0.3s;
}
.features .container .cards .card .content button::after {
  position: absolute;
  z-index: -1;
  content: "";
  background-color: red;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  transition-duration: 0.5s;
}
.features .container .cards .card:nth-child(2) .content button::after {
  background-color: green;
}
.features .container .cards .card:nth-child(3) .content button::after {
  background-color: var(--main-color);
}
.features .container .cards .card:hover button::after {
  width: 100%;
}
/* start testimonials */
.testimonials {
  padding: 90px 0px;
  background-color: #ececec;
  .container {
    padding: 15px;
  }
}
.testimonials .container .cards {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px 40px;
}
.testimonials .container .cards .card {
  background-color: white;
  padding: 15px 15px 25px;
  border-radius: 8px;
  position: relative;
}
.testimonials .container .cards .card img {
  position: absolute;
  z-index: 20000;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  top: 0;
  right: -60px;
  transform: translate(-50%, -50%);
  border: 8px solid #ececec;
}
.testimonials .container .cards .card h3 {
  text-transform: capitalize;
  font-size: 16px;
  margin: 10px 0px;
  font-weight: 700;
}
.testimonials .container .cards .card p:first-of-type {
  color: #888;
  text-transform: capitalize;
  font-size: 15px;
  margin-bottom: 10px;
}
.testimonials .container .cards .card .stars {
  margin-bottom: 12px;
}
.testimonials .container .cards .card .stars i {
  color: gold;
  cursor: pointer;
}
.testimonials .container .cards .card .stars i.fa-regular {
  color: black;
}
.testimonials .container .cards .card p:last-of-type {
  line-height: 1.6;
  color: #7a7a7a;
  font-size: 15px;
}
/* start members */
.members {
  margin-top: 100px;
}
.members .container {
  padding: 20px;
}
.members .container .cards {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 60px 80px;
  padding-left: 50px;
}
.members .container .cards .card {
  background-color: #eee;
  height: 430px;
  position: relative;
  border-radius: 8px;
}
.members .container .cards .card::after {
  position: absolute;
  content: "";
  z-index: 1;
  background-color: #a9a9a991;
  border-radius: 8px;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
  transition-duration: 0.5s;
}
.members .container .cards .card:hover::after {
  width: 100%;
}
.members .container .cards .card .image {
  position: absolute;
  z-index: 30;
  left: -30px;
  top: 70px;
}
.members .container .cards .card:hover .image img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.members .container .cards .card img {
  width: 80%;
  border-radius: 8px;
  transition-duration: 0.5s;
}
.members .container .cards .card .social {
  display: flex;
  z-index: 100;
  flex-direction: column;
  padding: 30px 20px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.members .container .cards .card .social a {
  margin-bottom: 30px;
  font-size: 20px;
  color: tomato;
  transition-duration: 0.2s;
}
.members .container .cards .card .social a:hover {
  color: var(--main-color);
}
.members .container .cards .card .text {
  position: absolute;
  z-index: 15;
  bottom: 20px;
  left: 15px;
}
.members .container .cards .card .text h3 {
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--main-color);
}
.members .container .cards .card .text p {
  margin-bottom: 10px;
}
@media (max-width: 991px) {
  .members .container .cards .card {
    height: 450px;
  }
}
/* start services */
.services {
  margin-top: 50px;
  padding: 90px 0px;
  background-color: #ececec;
}
.services .spikes::after {
  top: -90px;
}
.services .container {
  padding: 15px;
}
.services .container .cards {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 40px;
}
.services .container .cards .card {
  background-color: white;
  padding: 40px 0px 0px;
  box-shadow: 0px 0px 25px 5px #4444443d;
  text-align: center;
  transition-duration: 0.5s;
  position: relative;
  h2 {
    text-transform: capitalize;
    margin: 25px 0 50px 0;
    color: var(--main-color);
    font-weight: 700;
  }
}
.services .container .cards .card::after {
  position: absolute;
  content: "";
  background-color: var(--main-color);
  height: 3px;
  width: 0%;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: 0.5s;
}
.services .container .cards .card:hover {
  box-shadow: 0px 0px 5px 0px #4444443d;
  transform: translateY(-15px);
}
.services .container .cards .card:hover::after {
  width: 100%;
}
.services .container .cards .card i {
  font-size: 75px;
  color: #ddd;
}
.services .container .cards .card .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 48px;
  background-image: linear-gradient(
    to right,
    var(--main-color) 0%,
    var(--main-color) 35%,
    #f9f9f9 35%,
    #f9f9f9 100%
  );
  padding: 10px 20px 10px 25px;
}
.services .container .cards .card .text::after {
  content: "";
  position: absolute;
  width: 15%;
  height: 100%;
  background-color: #d5d5d5;
  top: 0;
  left: 28%;
  z-index: 1;
  transform: skewX(-18deg);
  border-left: 1px solid #f9f9f9;
}
.services .container .cards .card .text p {
  text-transform: capitalize;
}
.services .container .cards .card .text p:first-of-type {
  color: white;
  font-weight: 800;
  font-size: 30px;
}
.services .container .cards .card .text p:last-of-type {
  color: var(--main-color);
  font-size: 15px;
  cursor: pointer;
}
/* start skills */
.skills {
  margin-top: 100px;
  padding: 20px;
}
.skills .container .cards {
  padding: 0px 20px 0px 0px;
}
.skills .container .cards {
  margin-top: 100px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.skills .container .cards .card {
  flex: 1;
}
.skills .container .cards .card.image {
  display: flex;
  align-items: center;
  height: 400px;
}
.skills .container .cards .card.image img {
  width: 100%;
}
.skills .container .cards .card h2 {
  text-transform: uppercase;
  font-size: 17px;
  margin-bottom: 20px;
  font-weight: 800;
}
.skills .container .cards .card .statis {
  width: 100%;
  background-color: #eee;
  margin-bottom: 20px;
  position: relative;
}
.skills .container .cards .card .statis::after {
  position: absolute;
  content: "80%";
  top: -40px;
  right: 0;
  padding: 3px 5px;
  border: 1px solid #bbb;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  color: var(--main-color);
}
.skills .container .cards .card .statis span {
  height: 30px;
  width: 80%;
  background-color: var(--main-color);
  display: block;
}
.skills .container .cards .card .statis:nth-of-type(2) span {
  width: 85%;
}
.skills .container .cards .card .statis:nth-of-type(2)::after {
  content: "85%";
}
.skills .container .cards .card .statis:nth-of-type(3) span {
  width: 85%;
}
.skills .container .cards .card .statis:nth-of-type(3)::after {
  content: "70%";
}
.skills .container .cards .card .statis:nth-of-type(4) span {
  width: 80%;
}
.skills .container .cards .card .statis:nth-of-type(4)::after {
  content: "80%";
}
@media (max-width: 991px) {
  .skills .container .cards {
    flex-direction: column;
    align-content: center;
  }
  .skills .container .cards .card.image {
    width: 80%;
  }
}
/* start  works*/
.works {
  margin-top: 100px;
  background-color: #ececec;
  padding: 60px 0px;
}
.works .container {
  padding: 0px 20px;
}
.works .container .cards {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}
.works .container .cards .card:first-child {
  display: flex;
  align-items: center;
}
.works .container .cards .card > img {
  width: 100%;
}
.works .container .cards .card.work {
  grid-column: span 2;
}
.works .container .cards .card.work .job {
  display: flex;
  align-items: center;
  background-color: #f6f5f5;
  padding: 30px;
  border: 2px solid white;
  border-radius: 8px;
  margin-bottom: 25px;
  position: relative;
  z-index: 5;
}
.works .container .cards .card.work .job::after {
  content: "";
  position: absolute;
  background-color: #eee;
  z-index: -1;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 10%;
  height: 10%;
  transition-duration: 0.5s;
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  opacity: 0;
}
.works .container .cards .card.work .job:hover::after {
  width: 100%;
  height: 100%;
  animation: job;
  -webkit-animation: job;
  opacity: 1;
}
@keyframes job {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
.works .container .cards .card.work .job img {
  width: 70px;
  height: 70px;
}
.works .container .cards .card.work .job .text {
  margin-left: 30px;
}
.works .container .cards .card.work .job .text h2 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 25px;
}
.works .container .cards .card.work .job .text p {
  color: var(--second-color);
  line-height: 1.6;
  font-size: 16px;
  margin-top: 15px;
}
/* start events */
.events {
  margin-top: 100px;
}
.events .container {
  padding: 20px;
}
.events .container .cards {
  margin-top: 100px;
  display: flex;
  position: relative;
}
@media (max-width: 766px) {
  .events .container .cards .blue {
    display: none !important;
  }
}
@media (max-width: 680px) {
  .events .container .cards {
    flex-wrap: wrap !important;
  }
}
.events .container .cards .card img {
  width: 100%;
  height: 100%;
}
.events .container .cards .card:last-child .time {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.events .container .cards .card:last-child .time .date {
  height: 160px;
  width: 80px;
  padding-block: 15px;
  text-align: center;
  background-color: white;
  border: 1.5px solid #eee;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 7px;
  p {
    padding-top: 8px;
    text-transform: capitalize;
    font-size: 12px;
  }
}
.events .container .cards .card:last-child .time .date .number {
  border-bottom: 1px solid #eee;
}
.events .container .cards .card:last-child .time .date .number h1 {
  margin: 15px 0 10px;
  font-weight: 600;
  font-size: 2.4em;
  color: var(--main-color);
}
.events .container .cards .card:last-child .text {
  text-align: center;
}
.events .container .cards .card:last-child .text h2 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 17px;
}
.events .container .cards .card:last-child .text p {
  color: var(--second-color);
  line-height: 1.6;
  font-size: 17px;
  padding: 8px;
}
.events .container form {
  background-color: #f6f5f5;
  width: fit-content;
  display: flex;
  padding: 30px;
  margin-inline: auto;
  border-radius: 50px;
  margin-top: 45px;
}
@media (max-width: 590px) {
  .events .container form {
    width: unset;
    padding: 10px;
  }
  .events .container .email input[type="email"] {
    margin-right: 5px !important;
  }
}
.events .container .email input[type="email"] {
  width: 350px;
  padding: 20px;
  border-radius: 50px;
  outline: none;
  border: none;
  margin-right: 20px;
}
.events .container .email input[type="email"]:focus {
  caret-color: var(--main-color);
}
.events .container .email input[type="email"]:focus::placeholder {
  color: white;
}
.events .container .email input[type="submit"] {
  cursor: pointer;
  padding: 20px;
  font-weight: 600;
  color: white;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: var(--main-color);
  transition-duration: 0.2s;
}
.events .container .email input[type="submit"]:hover {
  background-color: rgb(0, 52, 150);
}
.events .container .cards .blue.one {
  top: -60px;
  position: absolute;
  z-index: -1;
  right: -60px;
}
.events .container .cards .blue.two {
  bottom: -200px;
  position: absolute;
  z-index: -1;
  left: -50px;
}
/* start pricing */
.pricing {
  background-color: #f6f5f5;
  margin-top: 100px;
  padding: 80px 0;
}
.pricing .container .cards {
  margin-top: 130px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 0px 20px;
  position: relative;
}
.pricing .container .cards .card {
  background-color: white;
  padding: 30px 0;
  box-shadow: 0px 0px 25px 0px #44444455;
  position: relative;
  z-index: 1000;
}
.pricing .container .cards .card::after {
  position: absolute;
  content: "";
  z-index: -1;
  background-color: #c5c5c538;
  height: 50%;
  width: 0%;
  top: 0;
  right: 0;
  transition-duration: 0.3s;
}
.pricing .container .cards .card::before {
  position: absolute;
  content: "";
  z-index: -1;
  background-color: #c5c5c538;
  height: 50%;
  width: 0%;
  bottom: 0;
  left: 0;
  transition-duration: 0.4s;
}
.pricing .container .cards .card:hover:after,
.pricing .container .cards .card:hover:before {
  width: 100%;
}
.pricing .container .cards .card:nth-child(2) {
  transform: translateY(-25px) !important;
  -webkit-transform: translateY(-25px) !important;
  -moz-transform: translateY(-25px) !important;
  -ms-transform: translateY(-25px) !important;
  -o-transform: translateY(-25px) !important;
}
@media (max-width: 991px) {
  .pricing .container .cards .card:nth-child(2) {
    transform: translateY(0px) !important;
    -webkit-transform: translateY(0px) !important;
    -moz-transform: translateY(0px) !important;
    -ms-transform: translateY(0px) !important;
    -o-transform: translateY(0px) !important;
  }
}
.pricing .container .cards .card .top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}
.pricing .container .cards .card .top img {
  width: 80px;
}
.pricing .container .cards .card .top h2 {
  text-transform: capitalize;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 35px;
  letter-spacing: -1.2px;
}
.pricing .container .cards .card .top h1 {
  margin: 35px 0px 0px !important;
  font-size: 60px;
  margin-bottom: 20px;
  color: var(--main-color);
}
.pricing .container .cards .card .top h1 + p {
  color: var(--second-color);
  text-transform: capitalize;
}
.pricing .container .cards .card .bottom ul li {
  padding: 20px 40px;
  border-top: 1.5px solid #dfdfdf;
  position: relative;
}
.pricing .container .cards .card .bottom ul li::after {
  position: absolute;
  font-family: "Font Awesome 6 Free";
  content: "\f00c";
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: var(--main-color);
  font-weight: 900;
}
.pricing .container .cards .card .bottom .button {
  margin: 0 auto;
  width: fit-content;
}
.pricing .container .cards .card .bottom button {
  margin: 30px auto 10px !important;
  padding: 15px;
  font-weight: 600;
  border: none;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  background-color: transparent;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.pricing .container .cards .card .bottom button:hover {
  background-color: var(--main-color);
  color: white;
}
.pricing .container .cards .card .top .ticket {
  position: absolute;
  top: 0;
  right: 20px;
  writing-mode: vertical-lr;
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: horizontal-tb;
  background-color: #2196f3;
  padding: 15px 10px 30px;
  text-transform: capitalize;
  font-weight: 600;
  color: white;
}
.pricing .container .cards .card .top .ticket::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: 19px solid;
  border-color: transparent transparent white transparent;
  transition-duration: 0.3s;
}
.pricing .container .cards .card:hover .top .ticket::after {
  border-color: transparent transparent #f2f2f2 transparent;
}
.pricing .container .cards .blue.one {
  top: -60px;
  position: absolute;
  z-index: 0;
  right: -60px;
}
.pricing .container .cards .blue.two {
  bottom: -50px;
  position: absolute;
  z-index: 0;
  left: -90px;
}
/* start videos */
.videos {
  margin-top: 100px;
  padding: 50px 0;
}
.videos .container section {
  margin-top: 100px;
  border: 1.5px solid #dddddd;
  display: flex;
}
@media (max-width: 992px) {
  div.videos .container section {
    flex-direction: column !important;
  }
  div.videos .container section main img {
    margin-bottom: 10px;
  }
  aside {
    width: 100% !important;
  }
}
.videos section aside {
  width: 450px;
  background-color: #eee;
}
.videos section aside ul li {
  border-top: 1.5px solid #f4f4f4;
  padding: 15px 0px 15px 15px;
  background-color: white;
  transition-duration: 0.2s;
  cursor: pointer;
}
.videos section aside ul li:first-child {
  background-color: #f4f4f4;
  text-transform: capitalize;
  font-weight: 700;
  padding: 25px 10px 25px 20px;
  display: flex;
  justify-content: space-between;
}
.videos section aside ul li:hover:not(:first-child) {
  background-color: #fafafa;
  color: var(--main-color);
}
.videos section aside ul li span {
  margin: 10px 0px 0px;
  color: var(--second-color);
}
.videos section main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: #e2e2e2;
}
.videos section main img {
  width: 100%;
}
.videos section main .text {
  background-color: white;
  padding: 20px;
}
/* start stats */
.stats {
  position: relative;
  background-image: url(../imgs/stats.jpg);
  margin-top: 100px;
  padding: 50px 0;
  z-index: 666666;
}
.stats .container {
  padding: 50px 0;
}
.stats::after {
  content: "";
  background-color: #ffffffdc;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.stats .container .head {
  text-transform: capitalize;
  font-size: 25px;
  width: fit-content;
  font-weight: bold;
  margin: 0 auto;
}
.stats .container .cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
@media (max-width: 766px) {
  .stats .container .cards {
    padding: 0 10px;
  }
}
.stats .container .cards .card {
  text-align: center;
  background-color: white;
  padding: 30px;
  position: relative;
}
.stats .container .cards .card::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background-color: var(--main-color);
  width: 3px;
  height: 0%;
  transition-duration: 0.65s;
}
.stats .container .cards .card::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  width: 3px;
  height: 0%;
  transition-duration: 0.65s;
}
.stats .container .cards .card:hover::after,
.stats .container .cards .card:hover::before {
  height: 100%;
}
.stats .container .cards .card i {
  font-size: 30px;
  margin-bottom: 15px;
}
.stats .container .cards .card h1 {
  margin: 0;
  font-size: 45px;
  margin-bottom: 20px;
}
.stats .container .cards .card p {
  color: var(--main-color);
  text-transform: capitalize;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
/* start discount  */
.discount {
  height: 105vh;
}
.discount .cards {
  height: 100%;
  display: flex;
  text-align: center;
}
@media (max-width: 991px) {
  .discount {
    height: auto;
  }
  .discount .cards {
    flex-direction: column;
  }
}
.discount .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  form {
    display: flex;
    flex-direction: column;
  }
}
.discount .cards .card:nth-child(1) {
  position: relative;
  background-image: url(../imgs/discount-background1.jpg);
  color: white;
  z-index: 580;
  padding: 70px 0 50px;
}
.discount .cards .card:nth-child(1) h1 {
  font-size: 40px;
  margin-bottom: 40px;
  text-transform: capitalize;
  letter-spacing: -2px;
}
.discount .cards .card:nth-child(1) p {
  width: 80%;
  line-height: 1.7;
  font-size: 17px;
  margin-bottom: 50px;
}
.discount .cards .card:nth-child(1) img {
  width: 280px;
}
.discount .cards .card:nth-child(1)::after {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #1684d9f5;
  top: 0;
  right: 0;
}
.discount .cards .card:nth-child(2) {
  padding: 30px 0 40px;
}
.discount .cards .card:nth-child(2) h1 {
  text-transform: capitalize;
  font-weight: 800;
  margin-bottom: 50px;
  letter-spacing: -1px;
}
.discount .cards .card:nth-child(2) input {
  width: 320px;
  margin-bottom: 30px;
  border-radius: 0;
  padding: 20px;
  background-color: #f9f9f9;
  border: none;
  border-bottom: 1px solid #ddd;
}
.discount .cards .card:nth-child(2) input[type="submit"] {
  background-color: var(--main-color);
  cursor: pointer;
  border: none;
  color: white;
  outline: none;
  padding: 20px;
  font-weight: 600;
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0;
}
.discount .cards .card:nth-child(2) input:focus {
  caret-color: var(--main-color);
  outline: none;
}
.discount .cards .card:nth-child(2) textarea {
  width: 320px;
  max-width: 320px;
  min-width: 320px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  height: 200px !important;
}
.discount .cards .card:nth-child(2) textarea:focus {
  outline: none;
}
/* start footer */
.footer {
  background-color: #191919;
}
.footer .container > .cards {
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  padding: 70px 0;
  gap: 50px 30px;
}
@media (max-width: 766px) {
  .footer .container > .cards {
    padding-inline: 20px;
  }
}
.footer .container > .cards > .card.one h1 {
  text-transform: capitalize;
}
.footer .container > .cards > .card.one a {
  all: unset;
  cursor: pointer;
}
.footer .container > .cards > .card.one i {
  width: 45px;
  height: 45px;
  font-size: 18px;
  margin-right: 10px;
  background-color: #313131;
  color: #eee;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.footer .container > .cards > .card.one i.fa-facebook-f:hover {
  background-color: #1877f2;
}
.footer .container > .cards > .card.one i.fa-twitter:hover {
  background-color: var(--main-color);
}
.footer .container > .cards > .card.one i.fa-youtube:hover {
  background-color: red;
}
.footer .container .cards > .card.one p {
  margin-top: 25px;
  color: #cbcbcb;
  line-height: 1.8;
}
.footer .container > .cards > .card.two ul li {
  color: #cbcbcb;
  border-bottom: 1px solid #91919168;
  text-transform: capitalize;
  padding: 15px 15px 15px 30px;
  position: relative;
  transition-duration: 0.3s;
  cursor: pointer;
}
.footer .container > .cards > .card.two ul li:hover {
  color: white;
  padding-left: 40px;
}
.footer .container > .cards > .card.two ul li:hover::after {
  padding-left: 10px;
}
.footer .container > .cards > .card.two ul li::after {
  position: absolute;
  font-family: "Font Awesome 6 Free";
  color: var(--main-color);
  content: "\F101";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 600;
  transition-duration: 0.3s;
}
.footer .container > .cards > .card.two ul li:last-child {
  border: none;
}
.footer .container > .cards > .card.three ul li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  color: #cbcbcb;
  p:not(:last-child) {
    margin-bottom: 10px;
  }
}
.footer .container > .cards > .card.three ul li i {
  font-size: 25px;
  color: var(--main-color);
}
.footer .container > .cards > .card.four {
  width: 260px;
  max-width: 260px;
}
.footer .container > .cards > .card.four .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  gap: 10px;
}
.footer .container > .cards > .card.four .cards .card {
  padding: 3px;
  background-color: white;
}
.footer .container > .cards > .card.four .cards .card img {
  width: 100%;
  height: 100%;
}
.developer {
  border-top: 1px solid #91919168;
}
.developer .container p {
  text-align: center;
  text-transform: capitalize;
  padding: 30px;
  color: white;
  font-style: italic;
}
.developer .container p span {
  color: var(--main-color);
  font-weight: bold;
}
/* end footer */
